@import "tailwindcss";




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6; 
  font-weight: 300; 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9); 
  background-color: #2a2a2a; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






@media (prefers-color-scheme: light) {
  :root {
    color: #2c3e50; /* Softer dark color */
    background-color: #f5f5f5; /* Light, airy background */
  }
 
}

/* Custom animation for React logo spin */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}